@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: "Bebas Neue", sans-serif!important;
}
.container {
  position: relative;
  width: 100%;
  max-width: 360px; /* İstediğiniz genişliği ayarlayabilirsiniz */
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 9 / 16; /* Resmin aspect ratio'sunu 9:16 olarak ayarlar */
}

.text-overlay {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 21px;
  width: 80%;
  font-family: "Bebas Neue", sans-serif!important;
  font-weight: bold;
  
  text-align: center;

}